{% load static%}{% load humanize %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
    <title>채팅하기</title>
  </head>

  <body class="back-ye">
    {% include 'nav.html' %}

    <div class="content-box">
      <div class="container column">
        <div class="post-box flex-box">

          <!-- 채팅선택창 -->
          <div class="chat-select-container">
            <div class="flex-box">

              <!-- 아이디및 체크박스 -->
              <div class="id-box flex-box between">
                <span id="user-name">{{ user.username }}</span><br>

                <div>
                  {% comment %} <label>
                    안읽은 메세지만 보기
                    <input type="checkbox" name="" id="">
                  </label> {% endcomment %}
                </div>
              </div>
            </div>

            <!-- 채팅 리스트 -->
            <div class="chat-list-box flex-box column">
              <!-- 봇 -->
              <div class="chat-box flex-box">
                <div class="ai-profile">
                  <img src="{% static 'img/icon_aibot.png'%}" alt="">
                </div>
                <div>
                  <a href="{% url 'market:chatbot' %}">
                    <p class="bold">AI 챗봇</p>
                    <p class="chat-thumb-text">궁금한 내용을 물어보세요!</p>
                  </a>
                </div>
              </div>
              <!-- 채팅방리스트 -->
              {% include 'chat_room_list.html' %}

            </div>
          </div>

          <!-- 채팅창-->
          <div class="chat-main-container">
            <div>
              <div class="contact-info flex-box">
                AI 챗봇
                <div class="temp">
                  99.9도
                </div>
              </div>

              <!--채팅창 메인-->
              <div class="chat-container">
                <div id="chatbox">

                </div>
                <div class="message-text" id="loading" style="display: none;"></div>
              </div>

            </div>

            <div class="chat-input" >
              <textarea name="" id="message" cols="30" rows="10" placeholder="메세지를 입력해주세요"></textarea>
              <div>
                <button onclick="sendMessage()">전송</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}

  </body>

</html>

<script src="{% static 'js/chatbot.js' %}"></script>
</body>
</html>
