<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
  </head>

  <body>
    Enter your username:<br>
    <input id="username-input" type="text" size="100"><br>
    What chat room would you like to enter?<br>
    <input id="room-name-input" type="text" size="100"><br>
    <input id="room-name-submit" type="button" value="Enter">

    <script>
      document
        .querySelector('#username-input')
        .focus();
      document
        .querySelector('#username-input')
        .onkeyup = function (e) {
          if (e.keyCode === 13) { // enter, return
            document
              .querySelector('#room-name-submit')
              .click();
          }
        };

      document
        .querySelector('#room-name-submit')
        .onclick = function (e) {
          let username = document
            .querySelector('#username-input')
            .value;
          let pathArray = window
            .location
            .pathname
            .split('/');
          let roomName = pathArray[2]; // URL의 세 번째 세그먼트를 가져옵니다.
          console.log(roomName); // 콘솔에 룸 번호를 출력하여 확인합니다.
          // 콘솔에 룸 번호를 출력하여 확인합니다.
          window.location.pathname = '/chat_index/' + roomName + '/';
        };
    </script>
  </body>

</html>