{% load static%}{% load humanize %}

<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
    <title>채팅하기</title>
  </head>

  <body class="back-ye">
    {% include 'nav.html' %}

    <div class="content-box">
      <div class="container column">
        <div class="post-box flex-box">

          <!-- 채팅선택창 -->
          <div class="chat-select-container">
            <div class="flex-box">

              <!-- 아이디및 체크박스 -->
              <div class="id-box flex-box between">
                <span id="user-name">{{ user.username }}</span><br>

                <div>
                  {% comment %} <label>
                    안읽은 메세지만 보기
                    <input type="checkbox" name="" id="">
                  </label> {% endcomment %}
                </div>
              </div>
            </div>

            <!-- 채팅 리스트 -->
            <div class="chat-list-box flex-box column">
              <!-- 봇 -->
              <div class="chat-box flex-box">
                <div class="ai-profile">
                  <img src="{% static 'img/icon_aibot.png'%}" alt="">
                </div>
                <div>
                  <a href="{% url 'market:chatbot' %}">
                    <p class="bold">AI 챗봇</p>
                    <p class="chat-thumb-text">궁금한 내용을 물어보세요!</p>
                  </a>
                </div>
              </div>
              <!-- 채팅방리스트 -->
              {% include 'chat_room_list.html' %}

            </div>
          </div>

          <!-- 채팅창-->
          <div class="chat-main-container">
            <div>
              <div class="contact-info flex-box">
                {{ opponent.username }}

                <span id="room-name" style="display:none">{{ chat_room.pk }}</span>
              </div>

              <!--물품정보-->
              <div class="goods-box flex-box between">
                <div class="flex-box">
                  <div class="selected-thumbnail-box">
                    <img src="{{ product.images.url }}" alt="">
                  </div>
                  <div class="goods-info-box">
                    <p>{{ product.title }}</p>
                    <p class="bold">{{ product.sell_price |intcomma}}원</p>
                  </div>
                </div>
                {% if user.id == product.user.id %}
                    <form method="post" action="{% url 'market:confirm_deal' product.product_id %}">
                        {% csrf_token %}
                        <button type="submit">거래확정하기</button>
                    </form>
                {% endif %}
            
              </div>

              <!--채팅창 메인-->

              <div id="chatbox" class="chat-container">
                <div id="chat-log">

                </div>
              </div>

              

            </div>
            <form class="chat-input" action="">
              <textarea name="" id="chat-message-input" cols="30" rows="10" placeholder="메세지를 입력해주세요"></textarea>
              <div>
                <button id="chat-message-submit">전송</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      {% include 'footer.html' %}

    </body>
    <script>

      function formatTime(dateString) {
        let date = new Date(dateString);
        let hours = date.getHours();
        let minutes = date.getMinutes();
        let ampm = hours >= 12 ? '오후' : '오전';
        hours = hours % 12;
        hours = hours ? hours : 12; 
        minutes = minutes < 10 ? '0' + minutes : minutes;
        let strTime = ampm + ' ' + hours + ':' + minutes;
        return strTime;
    }


      document.addEventListener("DOMContentLoaded", function () {

        // 주소에서 룸번호 찾기
        const roomName = document
          .getElementById('room-name')
          .textContent
          .trim();

        // 유저 id 찾기
        const userName = document
          .getElementById('user-name')
          .textContent
          .trim();

        // 웹소켓설정
        const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat_index/' + roomName + '/');

        //메세지 실시간으로 채팅창에 넣음
        chatSocket.onmessage = function (e) {
          const data = JSON.parse(e.data);
          
          // 메시지의 발신자가 현재 사용자인지 확인
          const isFromMe = data.username === userName;
          
          // 메시지 박스의 CSS 클래스를 설정
          const messageClass = isFromMe ? "from-me" : "";
          
          // 메시지 박스를 동적으로 생성하고 페이지에 추가
          let chatLogTest = document.getElementById("chat-log");
          var timestamp = new Date(data.timestamp);
          var timeStr = formatTime(timestamp);
          chatLogTest.innerHTML += `<div class="message-box ${messageClass}">
              <div class="message-text">${data.message}</div>
              <div class="s-text">${timeStr}</div>
            </div>`;

          let chatLog = document.getElementById("chatbox");
          chatLog.scrollTop = chatLog.scrollHeight;



        };
        chatSocket.onclose = function (e) {
          console.error('Chat socket closed unexpectedly');
        };

        // 채팅창에 키 들어가있도록 함
        document
          .querySelector('#chat-message-input')
          .focus();

        // 채팅 전송
        document
          .querySelector('#chat-message-input')
          .onkeyup = function (e) {
            if (e.keyCode === 13) { // enter, return
              document
                .querySelector('#chat-message-submit')
                .click();
            }
          };

        document
          .querySelector('#chat-message-submit')
          .onclick = function (e) {
            e.preventDefault();
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({'username': userName, 'message': message}));
            messageInputDom.value = '';
            let chatLog = document.getElementById("chatbox");
            chatLog.scrollTop = chatLog.scrollHeight;
          };
      });
    </script>

  </html>