{% load static %}{% load humanize %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/trade_list.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 당근</title>
  </head>

  <body class="back-ye">
    {% include 'nav.html' %}
    <div class="content-box">
        <div class="mydanggeun container column center">
            {% include 'mypagemenu.html' %}
            <div class="second">
                <div class="full-box trade-box column">
                    <div class="flex-box full-box card-container between">
                      {% for item in wish_product %}
                        <div class="card-box">
                          <a href="{% url 'market:trade_post' item.product_id %}" class="trade-text-link">
                            <div class="card-img">
                              {% if item.product_image %}
                                <img src="{{ item.product_image.url }}" alt="{{ item.title }}">
                              {% endif %}
                            </div>
                            <div class="card-info-box">
                              <h5>{{ item.title }}</h5>
                              <p class="bold">{{ item.sell_price |intcomma}}원</p>
                              <p>{{ item.location }}</p>
                              <div class="flex-box">
                                <p>조회
                                  {{ item.view_count }}</p>
                                <p>·</p>
                                <p>채팅
                                  {{ item.chatroom.count }}</p>
                              </div>
                            </div>
                          </a>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
            </div>
        </div>
    </div>

  {% include 'footer.html' %}

</body>
</html>
