{% load static %}


<div class="first">
    <a id=mydangguen href="{% url 'market:mypage' %}"><h3>나의 당근</h3></a>
    <div class="mytrade">
        <h3>나의 거래</h3>
        <a href="{% url 'market:wish_list' %}" class="menulist" id="wish_list"><img src="{% static 'img/heart.svg' %}" alt="">관심목록</a>
        <a href="{% url 'market:sell_list' %}" class="menulist" id="trade_list"><img src="{% static 'img/file.svg' %}" alt="">판매내역</a>
        <a href="{% url 'market:buy_list' %}" class="menulist" id="buy_list"><img src="{% static 'img/buy.svg' %}" alt="">구매내역</a>
    </div>
    <div class="etc">
        <h3>기타</h3>
        <a class="menulist" href="/location"><img src="{% static 'img/map.svg' %}" alt="">동네 인증하기</a>
    </div>
</div>
