{% load static %}

<nav>
  <div class="container">
    <div class="full-box flex-box between">
      <div class="flex-box">
        <div class="logo">
          <a href="{% url 'market:main' %}">
            <img src="{% static 'img/logo.png' %}" alt=""/>
          </a>
        </div>
        <div class="nav-buttons">
          <a href="/trade">
            <button id="trade-button">중고거래</button>
          </a>
          {% if user.is_authenticated %}
            <a href="/location">
              <button id="location-button">동네인증</button>
            </a>
          {% endif %}

        </div>
      </div>
      <div class="flex-box gap8">
        <form method="GET" action="{% url 'market:search' %}">
          <input type="text" id="search" name="search" class="search" placeholder="물품이나 동네를 검색해보세요"/>
        </form>
        {% if user.is_authenticated %}
          <a href="" class="ghost-button orange">채팅하기</a>
          <a href="{% url 'market:logout' %}" class="ghost-button" style="color: #1e1e1e">로그아웃</a>

        {% else %}
          <a href="{% url 'market:login' %}" class="ghost-button" style="color: #1e1e1e">로그인</a>
        {% endif %}
      </div>
    </div>
  </div>
  <script src="{% static 'js/nav.js' %}"></script>
</nav>
