{% load custom_filter%}
{% load static %}{% load humanize %}
<!DOCTYPE html>
<html>

  <head>
    <title>중고거래</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/trade.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
  </head>

  <body>
    {% include 'nav.html' %}
    <div class="content-box">
      <a href="{% url 'market:write' %}">
        <div class="floating-button">
          거래글쓰기
        </div>
      </a>
      <div class="about-trade">
        <div class="container ">
          <div class="trade-text">
            <h3>믿을만한</br>이웃 간 중고거래</h3>
          <p>동네 주민들과 가깝고 따뜻한 거래를</br>지금 경험해보세요.</p>
      </div>
      <div class="thumbnail-img">
        <img src="{% static 'img/img1.png' %}" alt=""/>
      </div>
    </div>
  </div>

  <div class="post-box">
    <div class="container column center">
      <h1>중고거래 인기매물</h1>
    </div>
    <div class="container column center">
      <div class="full-box trade-box column">
        <div class="flex-box full-box card-container between">
          {% for product in products %}

            <div class="card-box">
              <a href="{% url 'market:trade_post' product.pk %}" class="trade-text-link">
                <div class="card-img">
                  {% if product.images %}
                    <img src="{{ product.images.url }}" alt="{{ product.title }}">
                  {% endif %}
                </div>
                <div class="card-info-box">
                  <h5>{{ product.title }}</h5>
                  <p class="bold">{{ product.sell_price |intcomma}}원</p>
                  <p>{{ product.activity_area.emd_area_ids }}</p>
                  <div class="flex-box">
                    <p>조회
                      {{ product.view_count }}</p>
                    <p>·</p>
                    <p>채팅
                      {{ product.chatroom.count }}</p>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}

</body>

</html>
