trade_post.html

{% load static%}{% load humanize %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/trade_post.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
    <title>중고거래 상세보기</title>
  </head>

  <body>
    {% include 'nav.html' %}
    <div class="content-box">
      <div class="container column">
        <div class="post-box">
          {% block content %}
            <img src="{{ product.product_img }}" alt="{{ product.title }}" class="block-box">
            <div class="flex-box between info-button-box">
              <div class="user-info">
                <h6>{{ seller_info.username }}</h6>
                <p>{{ product.location }}</p>
              </div>
              {% if request.user.username == seller_info.username %}
                <div class="flex-box button-box">
                  <a href="{% url 'market:edit' product.product_id %}">
                    <button class="grey">수정하기</button>
                  </a>
                  <a href="{% url 'market:pull_up' product.product_id%}">
                    <button class="orange">끌어올리기</button>
                  </a>
                  <button class="orange">채팅보기</button>
                </div>
              {% else %}
                <div class="button-box">
                  <a href="{% url 'market:chat' %}">
                    <button class="orange">채팅하기</button>
                  </a>
                </div>
              {% endif %}
            </div>
            <hr class="line">
            <div class="post-info-box">
              <div class="flex-box between">
                <h3>{{ post.title }}</h3>
                <h3>{{ post.price |intcomma}}
                  원</h3>
              </div>
              <p>{{ post.description }}</p>
              <div class="location-views-box flex-box between">
                <p>희망 거래장소 |
                  {{ post.location }}</p>
                <p>조회수
                  {{ post.view_num }}</p>
              </div>
            </div>
          {% endblock %}
        </div>
      </div>
    </div>
    {% include 'footer.html' %}

  </body>

</html>
