*{
    font-family: 'Pretendard', sans-serif;
}
body{
    background-color: #f8f9fa;
}
h3{
    font-weight: 800;
    font-size: larger;
}
.mydanggeun{
    gap: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.first img{
    width: 24px;
    height: 24px;
}
.first, .second{
    display: flex;
    background-color: #f9f8f4;
    height: 900px;
    gap: 20px;
    margin-top: 60px;
    padding-top: 50px;
    flex-direction: column;
}
.first{
    width: 250px;
    padding-left: 40px;
}
.second{
    width: 100%;
    padding: 30px;
}
.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 0 0 0 120px;
    font-weight: 800;
    font-size: xx-large;
    margin: 65px 0 40px 0;
}
.width800{
    width: 800px;
}
.user-info{
    display: flex;
    gap: 15px;
    align-items: center;
}
.mytrade{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top: 1px solid var(--gray500);
    padding-top: 20px;
    /* padding-left: 120px; */
}
.etc{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    border-top: 1px solid var(--gray500);
    /* padding-left: 120px; */
}

.menulist{
    display: flex;
    align-items: center;
    gap: 15px;
}
#userimg{
    height: 50px;
    width: 50px;
}
.manner{
    display: flex;
    flex-direction: column;
    padding: 0 120px 0 120px;
    gap: 10px;
}
.manner-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.manner-container {
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.manner-temp {
    height: 100%;
    border-radius: 10px;
    background-color: #4CAF50;
    width: 0%;
}
.info{
    display: flex;
    gap: 10px;
    align-items: center;
}
#smileImage{
    width: 30px;
    height: 30px;
}